<% provide(:page_title, @post.title) %>
<% provide(:blog_active, 'active') %>

<div>
  <div>
    <h1><%= @post.title %></h1>
    <p><%= @post.display_day_published %></p>
    <%= @post.body %>
  </div>
</div>
