<% provide(:about_active, 'active') %>

<h1>About Page</h1>
<br>
<h3>A Little About the Team...</h3>
<p>Wolf lomo taxidermy, farm-to-table deep v etsy gentrify cold-pressed. Etsy pour-over vape, pok pok vice iceland artisan brunch. Readymade cornhole enamel pin, portland food truck swag biodiesel actually mumblecore kogi succulents echo park taxidermy truffaut. Truffaut kale chips ennui DIY mumblecore gentrify subway tile. Forage chia shaman meggings helvetica. Viral flannel cliche, brunch edison bulb butcher subway tile actually chia truffaut taxidermy polaroid. Hot chicken hella truffaut brooklyn copper mug, readymade live-edge flexitarian hammock gochujang tousled selvage YOLO. Fashion axe gentrify vegan bicycle rights. Humblebrag fingerstache palo santo roof party godard snackwave slow-carb farm-to-table salvia occupy cred knausgaard. Microdosing farm-to-table four loko neutra, adaptogen asymmetrical tumeric gastropub squid cornhole glossier cray blog echo park vexillologist.</p>