<% provide(:contact_active, 'active') %>

<h1>Contact Page</h1>
<br>
<br>
<h3>BloggyWorld Inc</h3>
<br>
<label>Address: </label>
<p>2345 Strawberry Lane, Motown, USA</p>

<label>Phone: </label><p>212-489-4608</p>

<label>Email: </label>
<p>dontemailus@dummymail.com</p>